<%- include("./partials/header") -%>
<!-- Right sidebar Ends-->
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>Product List
                            <small>Harvest Admin</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/shop"><i data-feather="home"></i></a></li>
                        <!-- <li class="breadcrumb-item">Physical</li> -->
                        <li class="breadcrumb-item active">Product</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Products</h5>
                    </div>
                    <div class="card-body">
                        <div class="btn-popup pull-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-original-title="test"
                                data-target="#exampleModal">Add Products</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title f-w-600" id="exampleModalLabel">Add Product </h5>
                                            <button class="close" type="button" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/shop/addproduct" method="POST">
                                                <input type="hidden" name="category" value="<%=categoryId%>">
                                                <div class="form">
                                                    <div class="form-group">
                                                        <label for="validationCustom01" class="mb-1">Product Name
                                                            :</label>
                                                        <input class="form-control" name="product_name" type="text"
                                                            required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validationCustom01" class="mb-1">Product Description
                                                            :</label>
                                                        <input class="form-control" name="product_description"
                                                            type="text" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="validationCustom01" class="mb-1">units :</label>
                                                        <select class="form-control" id="select" name="unit" type="text"
                                                            onchange="schedule(this.value)">
                                                            <option value="grams">Grams</option>
                                                            <option value="kilo">Kilo</option>
                                                            <option value="liter">Liter</option>
                                                            <option value="dozens">Dozens</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validationCustom01" class="mb-1">Cost per product :
                                                            <p id="pid">500 Grams</p></label>
                                                        <input class="form-control" name="product_price" type="text"
                                                            required>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="validationCustom01" class="mb-1">Image Url :</label>
                                                        <input class="form-control" name="image" type="text">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" type="submit">Save</button>
                                                    <button class="btn btn-secondary" type="button"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <%if(categories.length){%>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">S no</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Product Description</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <%var i=1;for(var item of categories){%>
                                <form action="/shop/updateproduct" method="POST">
                                    <input type="hidden" name="category" value="<%=item.category%>">
                                    <input type="hidden" name="id" value="<%=item._id%>">
                                    <tr>
                                        <th scope="row"><%=i%></th>
                                        <td><img style="border-radius: 100%;width: 50px;" src="<%=item.image%>"> </td>

                                        <td><input type="text" style="border: 0;" name="product_name"
                                                value="<%=item.product_name%>">
                                        </td>
                                        <td>
                                            <textarea name="product_description" style="border: 0; overflow: hidden;"
                                                class="form-control" value><%=item.product_description%></textarea>
                                            <!-- <input type="text" style="border: 0;" class=""
                                            value="<%=item.product_description%>"> -->
                                        </td>
                                        <td><%=item.unit%></td>
                                        <%if(item.inStock){%>
                                        <td>
                                            <label class="switch">
                                                <input class="xs" type="checkbox" value="<%=item._id%>"
                                                    onclick="slider(this.value)" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <%}else{%>
                                        <td>
                                            <label class="switch">
                                                <input class="btn-xs" type="checkbox" value="<%=item._id%>"
                                                    onclick="slider(this.value)">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <%}%>
                                          
                                            <td><input type="text" style="border: 0; width: 35px;" name="product_price" value="<%=item.product_price%>">
                                        </td>
                                        <td><input type="submit" class="btn btn-xs btn-info">&nbsp;&nbsp;<a
                                                href='/shop/deleteproduct/<%=item._id%>/<%=item.category%>'><i
                                                    class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </form>
                                <%i++}%>



                            </tbody>
                        </table>
                        <%}%>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container-fluid Ends-->
        </div>

        <!-- footer start-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 footer-copyright">
                        <p class="mb-0">Copyright 2019 © Multikart All rights reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>

</div>

<script>

    function slider(params) {
        $.get(`/shop/update/${params}`);

    }
    function schedule(unit) {

        if (unit == "gram") {
            document.getElementById("pid").innerHTML = "500 grams"
        } else if (unit == "kilo") {
            document.getElementById("pid").innerHTML = "1 Kilo "
        } else if (unit == "liter") {
            document.getElementById("pid").innerHTML = "1 liter"
        } else {
            document.getElementById("pid").innerHTML = "1 dozen"
        }

    }
</script>
<!-- latest jquery-->
<script src="../assets/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.js"></script>

<!-- feather icon js-->
<script src="../assets/js/icons/feather-icon/feather.min.js"></script>
<script src="../assets/js/icons/feather-icon/feather-icon.js"></script>

<!-- Sidebar jquery-->
<script src="../assets/js/sidebar-menu.js"></script>

<!-- Jsgrid js-->
<script src="../assets/js/jsgrid/jsgrid.min.js"></script>
<script src="../assets/js/jsgrid/griddata-sub-product.js"></script>
<script src="../assets/js/jsgrid/jsgrid-digital-sub.js"></script>

<!-- lazyload js-->
<script src="../assets/js/lazysizes.min.js"></script>

<!--right sidebar js-->
<script src="../assets/js/chat-menu.js"></script>

<!--script admin-->
<script src="../assets/js/admin-script.js"></script>

</body>
</html>